.page-header
  %h4 New Todo List

.row
  .span
    = form_for @todo, url: todo_lists_path, html: { class: 'form form-horizontal' } do |form|
      :javascript
        form_new_todo_item = "#{escape_javascript render(partial: 'form_todo_item', locals: { form: form, todo: @todo })}";
      = render partial: 'form', locals: { form: form, todo: @todo }
      .control-group
        .controls
          = button_to_function 'Add todo item', 'Todo.addFormTodoItem(form_new_todo_item);', class: 'btn btn-warning'
      // render form todo item as nested attributes form
      #form-todo-item-container
        - @todo.todo_items.each_with_index do |todo_item, idx|
          = render partial: 'form_todo_item', locals: { form: form, todo: @todo, todo_item: todo_item, idx: idx }
        - if @todo.todo_items.length < 1
          = render partial: 'form_todo_item', locals: { form: form, todo: @todo, todo_item: @todo.todo_items.new, idx: 0 }

      .form-actions
        = submit_tag 'Create', class: 'btn btn-primary'