.page-header
  %h4= "Detail of #{@todo.name}:"

.row
  .span6
    = link_to "New Todo Item", new_todo_list_path, class: 'btn'

%br

.row
  .span6
    %table{class: 'table table-bordered'}
      %thead
        %tr
          %th #
          %th Task Name
          %th Detail
          / %th Action

      %tbody{:id => 'todo-items-container', 'data-todo-list' => @todo.id}
        - @todo_items.each_with_index do |todo_item, idx|
          %tr{'data-todo-item' => todo_item.id}
            %td
              %span{class: 'order-number'}= idx+1
            %td= todo_item.task_name
            %td= todo_item.detail
            / %td
            /   = link_to 'Action', '#', class: 'btn'
            /   = link_to 'Action', '#', class: 'btn btn-danger'


= call_js_init("Todo.initShowTodoPage();")